__pycache__
.ipynb_checkpoints
.coverage*
*.pyc
*.vti
/build
/dist
*.egg-info
.cache
_build
/html_doc
/.idea
.vscode
.cache
_local_tmp
RELEASE-VERSION
test-report
src/pystencils/boundaries/createindexlistcython.c
src/pystencils/boundaries/createindexlistcython.*.so
tests/tmp
tests/var
tests/kerncraft_inputs/.2d-5pt.c_kerncraft/
tests/kerncraft_inputs/.3d-7pt.c_kerncraft/
report.xml
coverage_report/


# macOS
**/.DS_Store
*.uuid
